# Backend API URL
API_URL=https://crmapi.sandboxtechnology.in/api

# Site URL
SITE_URL=https://connectly360.sandboxtechnology.in

# Meta / WhatsApp Config
META_APP_ID=
META_CONFIG_ID=
WHATSAPP_VERIFY_TOKEN=
